
<title>{{title}}</title>
<h3 class="error_notification"  style="{{color}}" >{{ msg }}</h3>
<div class="user-login-bg">
<div class="user-login-container">
    <div class="user-login-photo">
        <h2 class="user-login-heading">{{title}}</h2>
        <div class="user-login-form">
            {{!-- paste this string for updating user /forgotUserPassword/{{email}} --}}
            <form action="/forgotuserpassword/{{email}}" method="post">
            <label for="name">Email</label>
            <input type="text" name="email" id="user-login-input" required value="{{email}}" disabled><br><br>
             <label for="name" id="user-login-label">Password <i class="fas fa-arrow-down" id="downarrow"></i></label>
            <input type="password" name="password" id="user-login-input" required>
            <button type="submit" class="user-login-btn">{{title}}</button>
            </form>
            {{!-- <div class="user-login-forgot">
                {{#if condition}}
               <p class="user-login-forgot-tagline"><a href="/forgotUserPassword" onclick="url()">Forgot Password</a></p>
                {{/if}}
            </div> --}}
        </div>
    </div>
</div>
</div>

